/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400&display=swap');

p, li {
  font-family: "Libre Baskerville", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  font-size: "90%";
}

.subtitle {
  font-family: Inter, sans-serif;
}